@import url(../video/video__iframe/video__iframe.css);
@import url(../video/video__iframes/video__iframes.css);

.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}